<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangChain project | Restack</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://www.restack.io/favicon.ico" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
</head>
<body class="bg-black flex flex-col justify-center min-h-screen text-neutral-100">
    <main class="mx-auto max-w-[932px] pb-8 pt-16 px-10 text-center">
        <h1 class="tracking-tight leading-tight sm:leading-tight text-4xl sm:text-6xl font-medium mb-4 text-transparent bg-clip-text bg-gradient-to-br from-white to-neutral-400">
            Welcome to your <br>LangChain project
        </h1>
        <p class="text-lg text-neutral-400">Get familiar with Langchain and Restack</p>
        <ul class="gap-4 grid items-stretch md:gap-1 md:grid-cols-2 my-12">
          <li>
            <a class="text-left bg-neutral-950 block border border-neutral-800 flex group h-full hover:bg-neutral-900 items-center md:rounded-tl-2xl place-content-between px-6 py-10 rounded-md transition-colors" href="./ask" rel="noopener noreferrer">
                <div>
                    <h2 class="font-bold mb-6 text-white text-xl">/ask</h2>
                    <p>Demo Flask endpoint to OpenAI</p>
                </div>
                <svg width="24" height="24" fill="none" class="group-hover:opacity-100 opacity-0 transition-opacity">
                    <path fill="#fff" d="M13.736 5.634a.9.9 0 0 1 1.273 0l5.728 5.727a.896.896 0 0 1 .262.687l-.001.019a.898.898 0 0 1-.298.604l-5.69 5.69a.9.9 0 1 1-1.274-1.272l4.19-4.189H3.9a.9.9 0 1 1 0-1.8h14.03l-4.194-4.193a.9.9 0 0 1 0-1.273"/>
                </svg>
            </a>
          </li>
          <li>
              <a class="text-left bg-neutral-950 block border border-neutral-800 cursor-pointer flex group h-full hover:bg-neutral-900 items-center md:rounded-tr-2xl place-content-between px-6 py-10 rounded-md transition-colors" href="https://github.com/restackio/starter-genai-langchain-py" target="_blank" rel="noopener noreferrer">
                  <div>
                      <h2 class="font-bold mb-6 text-white text-xl">Github repo</h2>
                      <p>Starter repository for LangChain</p>
                  </div>
                  <svg width="24" height="24" fill="none" class="group-hover:opacity-100 opacity-0 transition-opacity">
                      <path fill="#fff" d="M13.736 5.634a.9.9 0 0 1 1.273 0l5.728 5.727a.896.896 0 0 1 .262.687l-.001.019a.898.898 0 0 1-.298.604l-5.69 5.69a.9.9 0 1 1-1.274-1.272l4.19-4.189H3.9a.9.9 0 1 1 0-1.8h14.03l-4.194-4.193a.9.9 0 0 1 0-1.273"/>
                  </svg>
              </a>
          </li>
            <li>
                <a class="text-left bg-neutral-950 block border border-neutral-800 cursor-pointer flex group h-full hover:bg-neutral-900 items-center  md:rounded-bl-2xl  place-content-between px-6 py-10 rounded-md transition-colors" href="https://www.langchain.com/" target="_blank" rel="noopener noreferrer">
                    <div>
                        <h2 class="font-bold mb-6 text-white text-xl">Langchain website</h2>
                        <p>Learn more on LangChain</p>
                    </div>
                    <svg width="24" height="24" fill="none" class="group-hover:opacity-100 opacity-0 transition-opacity">
                        <path fill="#fff" d="M13.736 5.634a.9.9 0 0 1 1.273 0l5.728 5.727a.896.896 0 0 1 .262.687l-.001.019a.898.898 0 0 1-.298.604l-5.69 5.69a.9.9 0 1 1-1.274-1.272l4.19-4.189H3.9a.9.9 0 1 1 0-1.8h14.03l-4.194-4.193a.9.9 0 0 1 0-1.273"/>
                    </svg>
                </a>
            </li>
            <li>
                <a class="text-left bg-neutral-950 block border border-neutral-800 cursor-pointer flex group h-full hover:bg-neutral-900 items-center md:rounded-br-2xl place-content-between px-6 py-10 rounded-md transition-colors" href="https://python.langchain.com/docs" target="_blank" rel="noopener noreferrer">
                    <div>
                        <h2 class="font-bold mb-6 text-white text-xl">Documentation</h2>
                        <p>Read the official documentation</p>
                    </div>
                    <svg width="24" height="24" fill="none" class="group-hover:opacity-100 opacity-0 transition-opacity">
                        <path fill="#fff" d="M13.736 5.634a.9.9 0 0 1 1.273 0l5.728 5.727a.896.896 0 0 1 .262.687l-.001.019a.898.898 0 0 1-.298.604l-5.69 5.69a.9.9 0 1 1-1.274-1.272l4.19-4.189H3.9a.9.9 0 1 1 0-1.8h14.03l-4.194-4.193a.9.9 0 0 1 0-1.273"/>
                    </svg>
                </a>
            </li>
        </ul>
    </main>
</body>
</html>
